@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav__link {
    @apply relative text-base font-medium w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-blue-800 text-white after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right;
  }

  .text-bg {
    background-image: linear-gradient(
      to right,
      rgb(30 64 175) 0%,
      #ffffff 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--light-blue);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 4px;
  }
}

/* Global CSS */

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.inputCss {
  color: white !important;
  background-color: var(--dark-black) !important;
  border: 1px solid var(--dark-black) !important;
  border-radius: 5px !important;
  outline: none !important;
  caret-color: white !important;
  padding: 10px !important;
  width: 100% !important;
  height: 40px !important;
  font-size: 16px !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 10px 0 !important;
}

.inputCss::placeholder {
  color: white;
}

:root {
  --blue: rgb(30 64 175);
  --dark-blue: #060922;
  --light-blue: rgb(23 37 84);
  --dark-black: #121426;
}
